<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Pierre Feuille Ciseaux</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!--<script src="/static/game.js"></script>-->
</head>
<body>

<div class="text-center">
  <h1>À bientôt ! 🤖 </h1> 
  <div>
      <img src="https://media3.giphy.com/media/9xnzUU1aIWopmcz0hC/giphy.gif" width="50%" alt="Un robot qui pleure">
    </div>
    <div><br>
        <a href="index.html">
            <button type="button" class="btn-lg btn-primary">Désolé de t'avoir fait de la peine. On rejoue.</button>
        </a>
    </div>
</div>
</body>
</html>
